<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation System</title>
</head>
<body>
<nav>
    <a href="/index">Home Page</a>
    <a href="/logout">logout</a>
</nav>
<br /><br /><br />
<div>
    <h2 class="text-center">Search for your flight</h2>
    <form method="post" action="/searchDate/search">
        Departure year: <select name="departureYear" id="departureYear">
        <option th:each="i : ${#numbers.sequence(2024,2026)}" th:value="${i}" th:text="${i}"></option>
    </select>
        Departure month: <select name="departureMonth" id="departureMonth">
        <option th:each="i : ${#numbers.sequence(1,12)}" th:value="${i}" th:text="${i}"></option>
    </select>
        Departure day: <select name="departureDay" id="departureDay">
        <option th:each="i : ${#numbers.sequence(1,31)}" th:value="${i}" th:text="${i}"></option>
    </select>
        <button type="submit">Search</button>
    </form>
</div>
</body>
</html>