<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<nav>
    <div>
        <a href="/index">Home Page</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</nav>
<br /><br />
<div>
    <div>
        <a href="/searchAirports">Search flight by departure and arrival airports</a>
        <a href="/searchDate">Search flight by departure date</a>
    </div>
</div>
</body>
</html>