<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation System</title>
</head>
<body>
<nav>
    <div class="container-fluid">
        <a href="/index">Home Page</a>
    </div>
</nav>
<br /><br />
<div class="container">
    <h2 class="text-center">Login Form</h2>
    <form method="post" action="/login/authorization" class="form-horizontal">
        Email: <input type="text" id="email" name="email" placeholder="Enter email address"/>
        Password: <input type="password" id="password" name="password" placeholder="Enter password"/>
        <button type="submit" >Submit</button>
    </form>
</div>
</body>
</html>