<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation System</title>
</head>
<body>
<nav>
    <a href="/index">Home Page</a>
</nav>
<br /><br /><br />
<div>
    <h2 class="text-center">Registration</h2>
    <form method="post" action="/register/save">
        Username: <input id="username" name="username" placeholder="Enter first name" type="text"/>
        Email: <input id="email" name="email" placeholder="Enter email address" type="email"/>
        Password: <input id="password" name="password" placeholder="Enter password" type="password"/>
        <button type="submit">Register</button>

    </form>
</div>
</body>
</html>