<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation System</title>
</head>
<body>
<nav>
    <a href="/index">Home Page</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</nav>
<br /><br /><br />
<div>
    <h2 class="text-center">Search for your flight</h2>
    <form method="post" action="/searchAirport/search">
        <select name="departureAirport" id="idPlane">
            <option th:each="plane : ${planes}" th:value="${plane.getIdPlane()}" th:text="${plane.getPlaneName()}"></option>
        </select>
        <button type="submit">Add plane</button>
    </form>
</div>
</body>
</html>